.sidebar-container {
    @include card(0, $border-radius-sm);
    background-color: $white;
    position: fixed;
    bottom: $spacer * 2.1875; // 35px
    left: $spacer-xs;
    width: 440px;
    height: 85vh;
    transform: translateX(-450px);
    transition: transform 0.3s ease-in-out;
    z-index: 3;
  
    &.open {
      transform: translateX(0);
    }

    .sidebar-content {
        padding: 0;
        overflow-y: auto;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
      }
  }